<div class="jumbotron">
  <h3>Convert number to Roman numeral</h3>
  <form class="form">
    <div class="from-group">
        <input type="text" class="form-control" 
        placeholder="Enter numberic value between 1 to 3000" 
        ng-model="inputNumber" 
        ng-change="convertToRoman(inputNumber)"
        autofocus>
    </div>
  </form>
  <div class="text-left">Result: <strong ng-bind="romanNumber"></strong></div>
</div>

<div class="row marketing">
  <div ng-repeat="RomanNumeralPair in RomanNumeralPairs">
    <h4 ng-bind="RomanNumeralPair.RomanNumeralRepresentation"></h4>
    <p ng-bind="RomanNumeralPair.RomanNumeralDefinition"></p>
  </div>
</div>
